.etb-city,
.select-etb-city-panel
{
    position: absolute;
    z-index: 10000;

    border: 1px solid #e5e5e5;
    background: white;
}

/* line 69, company/.scss/common.scss */
.etb-city ::-webkit-scrollbar-thumb,
.select-parent-panel ::-webkit-scrollbar-thumb
{
    background: #e5e5e5;
}

/* line 75, company/.scss/common.scss */
.hot-city-tab ::-webkit-scrollbar-thumb
{
    background: none;
}

/* line 80, company/.scss/common.scss */
.etb-city
{
    font-size: 14px;

    width: 650px;
    margin-top: 5px;
    padding: 10px 10px;
}
/* line 85, company/.scss/common.scss */
.etb-city .etb-city-panel
{
    overflow-x: hidden;
    overflow-y: scroll;

    height: 251px;
}
/* line 90, company/.scss/common.scss */
.etb-city .nav-tabs:before
{
    position: relative;
    top: 42px;
    left: -11px;

    width: 12px;
    height: 1px;

    content: '';

    background: #ddd;
}
/* line 99, company/.scss/common.scss */
.etb-city .nav-tabs li:last-child:after
{
    position: absolute;
    top: 41px;
    right: -11px;

    width: 12px;
    height: 1px;

    content: '';

    background: #ddd;
}
/* line 108, company/.scss/common.scss */
.etb-city header
{
    padding: 8px 0;

    border-bottom: 1px solid #ccc;
}
/* line 111, company/.scss/common.scss */
.etb-city header .title
{
    padding: 7px 0;

    color: #555;
    border-bottom: 3px solid #0d8aee;
}
/* line 117, company/.scss/common.scss */
.etb-city .city-name-ul,
.etb-city .host-city-ul
{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}
/* line 121, company/.scss/common.scss */
.etb-city .city-name-ul li,
.etb-city .host-city-ul li
{
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;

    height: 21px;
    margin-bottom: 10px;
}
/* line 127, company/.scss/common.scss */
.etb-city .city-name-ul li span:hover,
.etb-city .host-city-ul li span:hover
{
    color: #0d8aee;
}

.etb-city .city-name-ul li span,
.etb-city .host-city-ul li span
{
    cursor: pointer;
}
    
/* line 132, company/.scss/common.scss */
.etb-city .city-name-ul
{
    overflow-y: scroll;

    height: 201px;
}
/* line 136, company/.scss/common.scss */
.etb-city .index-ul
{
    margin-bottom: 0;
}
/* line 138, company/.scss/common.scss */
.etb-city .index-ul li
{
    display: inline-block;

    width: 10%;

    cursor: pointer;
    vertical-align: middle;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}
/* line 142, company/.scss/common.scss */
.etb-city .index-ul li.active span
{
    padding: 7px 0;
    color: #555;
    border-bottom: 3px solid #0d8aee;
}
/* line 149, company/.scss/common.scss */
.etb-city .city-index
{
    color: #0d8aee;
}

/* line 154, company/.scss/common.scss */
.select-etb-city-panel
{
    overflow-y: scroll;

    width: 93%;
    height: 120px;
    padding: 5px 5px;

    border-top: none;
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
}
@media (min-width: 1750px)
{
    /* line 154, company/.scss/common.scss */
    .select-etb-city-panel
    {
        width: 95.5%;
    }
}
/* line 166, company/.scss/common.scss */
.select-etb-city-panel span
{
    display: block;

    padding-left: 5px;
}
/* line 169, company/.scss/common.scss */
.select-etb-city-panel span:hover
{
    color: white;
    background-color: #0d8aee;
}
